body {
  background-color: #0f0f0f;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #f5c518;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #f5c518;
  color: #000;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
}

.movie-card {
  background-color: #1c1c1c;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
  padding-bottom: 10px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.movie-card h3 {
  margin: 10px 0 0;
}

.movie-details {
  text-align: left;
  padding: 20px;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.details-container img {
  width: 300px;
  border-radius: 8px;
}

.info {
  max-width: 500px;
}

.back-btn {
  background: #f5c518;
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.loading {
  color: #f5c518;
}

.error {
  color: red;
}
